.hero {
  height: calc(100vh - 120px);
  background-image: url("/assets/images/car-5.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-scale{
    transition-duration: 2s;
}